.slides{
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.image{
    height: 700px;
    width: 500px;
    border-radius: 10px;
}
.right_arrow{

    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color:#000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left_arrow{

    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color:#000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}